<%= form_for :order do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>  
  <%= f.fields_for :address do |address_builder| %>
    <%= render 'address_fields', f: address_builder %>
  <% end %>
  
  <% # = f.submit 'Checkout', type: :image, src: 'https://www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif' %>
  <%= link_to image_tag('https://www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif'), checkout_order_path, :id => 'Checkout' %>
<% end %>