<p><%= link_to t('product.new'), new_product_path %></p>

<ul>
<% @products.each do |product| %>
	<li class="product">
	  <%= image_tag product.master.image_url if product.master.image? %>
		<%= product.name %>
		<ul>
			<li><%= link_to t(:edit), edit_product_path(product) %></li>
			<li><%= link_to t(:view), product_path(product) %></li>
		</ul>
	</li>
<% end %>
</ul>