<p><%= link_to t('product.new'), new_product_path %></p>

<ul>
<% @products.each do |product| %>
	<li class="product">
	  <p><%= product.name %></p>
	  <%= image_tag product.master.images.first.attachment_url(:thumb) if product.master.images.first && product.master.images.first.attachment? %>
		<ul>
			<li><%= link_to t(:edit), edit_product_path(product) %></li>
			<li><%= link_to t(:view), product_path(product) %></li>
			<li><%= link_to t(:delete), product_path(product), :method => :delete, :data => {:confirm => "Are you sure?"} %></li>
		</ul>
	</li>
<% end %>
</ul>