<p><label>Product</label> <strong><%= @product.name %></strong></p>
<p><label>Price</label> <strong>R$ <%= @product.price %></strong></p>

<% @product.variants.each do |variant| %>
  <p><%= variant.options_text %></p>
<% end %>

<% @product.master.images.each do |image| %>
  <%= image_tag(image.attachment.url(:thumb)) %>
<% end %>

<%= form_for @order do |f| %>
  <%= f.hidden_field :user_id, value: @product.user.id %>
  
  <%= label_tag :quantity %>
  <%= text_field_tag "variants[#{@product.master.id}]", 1, :id => 'quantity' %>
  <%= f.submit 'Buy' %>
<% end %>

<!--
<% @product.option_types.each do |ot| %>
  <ul>
    <%= ot.name %> (<%= ot.id %>)
    <% ot.option_values.each do |ov| %>
      <li><%= ov.name %> (<%= ov.id %>)</li>
    <% end %>
  </ul>
<% end %>
-->