<!DOCTYPE html>
<html>
<head>
  <title>WunderStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <ul>
    <li><%= link_to t('home'), root_url %></li>
    <li><%= link_to t('about'), '/about' %></li>
    <li><%= link_to t('sign_up'), sign_up_url %></li>
    <li><%= link_to t('login'), login_url %></li>
  </ul>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
